body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

form {
   width: 40rem;
   display: flex;
   flex-direction: column;
}

.flex {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.inputBox {
   margin: 0.45rem 0;
}

.userInput {
   width: 100%;
   border: 1px solid #ccc;
   height: 3rem;
   border-radius: 5px;
   box-sizing: border-box;
}

::placeholder {
   font-size: 1rem;
   padding-left: 1rem;
   color: #888;
}

.messageBox {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.checkBox {
   display: flex;
   width: 10rem;
   gap: 0.5rem;
   margin-right: 3rem;
}
.registration-message {
   line-height: 1.6;
}

.span-register {
   background-color: #1a7bc3;
   color: #fff;
   border: none;
   padding: 0.2rem 0.3rem;
   border-radius: 4px;
}
.span-termsconditions {
   cursor: pointer;
   color: #1a7bc3;
}

.btn {
   color: #fff;
   border: none;
   width: 100%;
   padding: 1rem;
   font-size: large;
   border-radius: 5px;
   cursor: pointer;
}
.register {
   background-color: #1a7bc3;
}
.signIn {
   background-color: rgb(60, 202, 60);
}

@media screen and (max-width: 768px) {
   form {
      width: 90%;
      padding: 1rem;
   }

   .userInput {
      padding: 0 1rem;
      width: 100%;
   }
}

@media screen and (max-width: 480px) {
   .messageBox {
      flex-direction: column;
      align-items: flex-start;
   }
   .flex {
      gap: 0.5rem;
   }
   ::placeholder {
      font-size: 0.875rem;
      padding-left: 0;
   }
}
@media screen and (max-width: 280px) {
   ::placeholder {
      font-size: 0.6rem;
      padding-left: 0;
   }
}
